body {
  text-align: center;
  background-color: #caf0f8;
  margin: 100px 100px;
}

h1 {
  padding: 5px;
  font-family: "Kanit", sans-serif;
  color: #03045e;
  /* background-color: #90e0ef; */
}

a {
  /* padding: 10px; */
  /* margin: 300px 10px; */
  font-family: "Kanit", sans-serif;
  color: rgb(20, 66, 104);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-family: sans-serif;
  font-size: 20px;
  /* text-align: center; */
}

/* border: 테두리두께 테두리 타입 테두리 색깔
padding: top right bottom left
margin: 위쪽아래쪽 오른쪽왼쪽 
*/
